<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>TrungTamTinHoc</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>404</servlet-name>
    <jsp-file>/WEB-INF/Fragment/404.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>404</servlet-name>
    <url-pattern>/404</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>hdtt</servlet-name>
    <jsp-file>/WEB-INF/Pages/NavBarPage/HuongDanThanhToan.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>hdtt</servlet-name>
    <url-pattern>/huong-dan-thanh-toan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cap-nhat-tin-tuc</servlet-name>
    <jsp-file>/WEB-INF/Pages/Admin/CapNhatTinTuc.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>cap-nhat-tin-tuc</servlet-name>
    <url-pattern>/admin/cap-nhat-tin-tuc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>lienHe</servlet-name>
    <jsp-file>/WEB-INF/Pages/NavBarPage/LienHe.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>lienHe</servlet-name>
    <url-pattern>/lien-he</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dang-xuat</servlet-name>
    <jsp-file>/WEB-INF/Pages/NavBarPage/DangXuat.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>dang-xuat</servlet-name>
    <url-pattern>/dang-xuat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DKMH-delay</servlet-name>
    <jsp-file>/WEB-INF/Pages/SupPage/DKMH-Delay.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>DKMH-delay</servlet-name>
    <url-pattern>/tam-hoan-dang-ky-mon-hoc-online</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>lkg-thvp</servlet-name>
    <jsp-file>/WEB-INF/Pages/LichKhaiGiang/LKG-TinHocVanPhong.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>lkg-thvp</servlet-name>
    <url-pattern>/lich-khai-giang/tin-hoc-van-phong</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CTDT-truyenthong</servlet-name>
    <jsp-file>/WEB-INF/Pages/CTDT/CTDT-do-hoa-truyen-thong.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>CTDT-truyenthong</servlet-name>
    <url-pattern>/CTDT/do-hoa-truyen-thong</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>js-chonmon</servlet-name>
    <jsp-file>/WEB-INF/json/json-chonmon.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>js-chonmon</servlet-name>
    <url-pattern>/json/chon-mon</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>js-chonlich</servlet-name>
    <jsp-file>/WEB-INF/json/json-chonlich.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>js-chonlich</servlet-name>
    <url-pattern>/json/chon-lich</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>js-chonCTDT</servlet-name>
    <jsp-file>/WEB-INF/json/json-chonCTDT.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>js-chonCTDT</servlet-name>
    <url-pattern>/json/chon-CTDT</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/404</location>
  </error-page>
</web-app>